.SingleDatePickerInput__withBorder_2 {
    border: none;
}

.DateInput_input_1 {
     border: 1px solid rgb(237, 234, 234);
    height: 30px;
    width: 130px;
}

.start-date {
    margin-left: 80px;
}

.start-date {
    margin-left: 30px;
    margin-right: 30px;
}

#check-in .DateInput_input__small_2 {
     border: 1px solid rgb(237, 234, 234);    
}

#check-out .DateInput_input__small_2 {
     border: 1px solid rgb(237, 234, 234);   
}

// #check-in input {
//     width: 180px;
// }