.errors li {
  list-style: none;
  color: rgb(213, 61, 76);
  margin-bottom: -5px;
  margin-left: 10px;
}

.session-error {
  color: rgb(213, 61, 76);
  padding: 0;
  margin: 0; 
  margin-left: -5px;
  margin-bottom: -10px;
}