.errors li {
  list-style: none;
  color: rgb(233, 30, 50);
  margin-bottom: -5px;
  margin-left: 10px;
}

.session-error {
  color: rgb(233, 30, 50);
  padding: 0;
  margin: 0; 
  margin-left: 0px;
  margin-bottom: -10px;
}