form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 70%;
    width: 70%;
    margin-left: 8px;
    margin-top: 5px;
    background-color: white;
 }

 form label {
     padding-left: 10px;
 }

 .button input {
     color: white;
     background-color: #1171F2;
     height: 50px;
     width: 385px;
     border-radius: 10px;
     margin-top: 12px;
 }

  .button input:hover {
     cursor: pointer;
 }

 form input {
     width: 385px;
     height: 40px;
     border-radius: 0px;
     border: 2px solid rgb(237, 234, 234);
     font-size: 15px;
     font-family: 'Lato', sans-serif; 
     color: rgb(115, 131, 147);
 }

  /* form input:hover {
     border: 2px solid pink;
 } */

 form input:focus {
     outline-width: 0;
    border: 2px solid lightgray;
 }

 button {
     width: 100px;
 }

 #signup-form {
    height: 500px;
    width: 500px;
    /* border: 2px solid lightgray; */
    background-color: white;
    margin-left: 5%;
    margin-top: 10%;
 }

  #signup-form form {
     margin-left: 45px;
 }

 #login-form {
    height: 400px;
    width: 500px;
    /* border: 2px solid lightgray; */
    background-color: white;
    margin-left: 5%;
    margin-top: 10%;
 }

 #login-form form {
     height: 60%;
     margin-left: 45px;
 }

  #welcome-form {
    height: 480px;
    width: 450px;
    /* border: 2px solid lightgray; */
    background-color: white;
    margin-left: 120px;
    margin-top: 60px;
    border-radius: 4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
 }

   #welcome-form form { 
       width: 90%;
       height: 70%;  
       margin-left: 22px;
    }

 #welcome-form .button input {
     width: 100px;
     margin-left: 290px;
 }

  #welcome-form p {
    padding-top: 25px;
     margin-left: 40px;
     margin-right: 40px;
     font-size: 30px;
     font-weight: bold;
     color: rgb(55, 62, 70);
 }

 #signup-form p {
     margin-left: 10%;
 }

  #login-form p {
     margin-left: 10%;
 }

 div p input {
     border: none;
     font-family: 'Lato', sans-serif;
     color: rgb(135, 174, 240);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration: underline;
 }

  div p input:focus {
    outline-width: 0;
 }

div p input:hover {
    cursor: pointer;
 }

#date-select {
    display: flex;
    /* justify-content: center; */
}

 #date-select input {
     width: 186px;
 }

 /* #date-select #check-in {
    margin-right: 0;
 }

  #date-select #check-in {
    margin-left: 0;
 } */

 select {
     width: 390px;
     height: 40px;
     border-radius: 10px;
     border: 2px solid rgb(235, 232, 232);
     font-size: 15px;
     font-family: 'Lato', sans-serif; 
     color: rgb(115, 131, 147);
 }

 select:focus {
    outline-width: 0;
 }

//  .reservation-form input {
//     margin-left: -15px;
//     width: 300px;
//     margin-bottom: 5px;
//     border-radius: 0px;
//  }

//  .reservation-form form {
//      color: #484848;
//      font-size: 12px;
//      height: 300px;
//      width: 300px;
//  }

//  #res-errors {
//      padding: 10px;
//      margin: 0;
//      margin-top: -40px;
//      color: red;
//     //  width: 100px;
//      font-size: 18px;
//  }

// //  .reserve-form {
// //      height: 400px;
// //      width: 600px;
// //  }

//  .reservation-form {
//      width: 400px;
//  }

//  .reservation-form label {
//      width: 300px;
//  }

// .reservation-form .button {
//     margin-left: -5px;
//     border-radius: 8px;
//     color: white;
//     background-color: blue;
//     border: none;
//     margin-top: 0;
//     height: 40px;
// }

// .reservation-form .button:hover {
//     cursor: pointer;
// }

#new-listing-title {
    margin-left: 100px;
    font-size: 46px;
    color: #484848;
    font-family: 'Lato', sans-serif; 
    font-weight: 200;
    margin-top: 80px;
}

.listing-form {
        border: 1px solid rgb(250, 250, 250);
     border-radius: 7px;
      box-shadow: 0 8px 25px rgba(0,0,0,0.12) !important;
    margin-top: 0px;
    margin-left: 30%;
    height: 650px;
    width: 500px;
}

.listing-form form {
    margin-top: 100px;
    margin-left: 50px;
}

#check-out {
    margin-left: 100px;
    margin-top: 1px;
}

#check-out input {
    width: 160px;
    border: 2px solid #ebebeb;
}

#check-in input {
    width: 160px;
    border: 2px solid #ebebeb;
}



