.profile-page {
  width: 70%;
  height: 1000px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  // border: 2px solid black;
}

.profile-box {
  height: 500px;
  width: 350px;
  border: 1px solid rgb(201, 203, 205);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.profile-description {
  margin-top: 48px;
  margin-left: 60px;
  color: #484848;
  // font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-family: 'Lato', sans-serif; 
}

.profile-description h1 {
  font-size: 46px;
  color: #484848;
  font-family: 'Lato', sans-serif; 
  font-weight: 200;
}

.profile-description a {
       border: none;
     font-family: 'Lato', sans-serif;
     color: rgb(65, 109, 186);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

.profile-description a:hover {
  cursor: pointer;
}

.profile-box img {
  margin-top: 50px;
  margin-left: 35%;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  // border: 2px solid white;
}

.profile-description ul {
  list-style: none;
  margin-left: -30px;
}

.edit-profile-link {
  margin-left: 34%;
  margin-top: 10px;
  color: rgb(65, 109, 186);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  // text-decoration: underline;
}

.edit-profile-link:hover {
  cursor: pointer;
}

#reviews {
  border-top: 1px solid rgb(201, 203, 205);
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

#provided {
  border-top: 1px solid rgb(201, 203, 205);
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.profile-box h3 div {
  margin-top: 0px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: rgb(65, 65, 65);
}

.profile-box h3 {
  margin-top: 30px;
  display: flex;
}

.profile-box h2 {
  margin-top: 30px;
    font-weight: 800;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: rgb(65, 65, 65);
}

.profile-box div img {
  height: 20px;
  width: 20px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 0;
}

#prof-form form {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#bio {
  margin-left: 10px;
  border-bottom: 1px solid rgb(201, 203, 205);
  margin-bottom: 30px;
}

#edit-prof-link {
  margin-left: 10px;
  margin-top: -20px;
     font-family: 'Lato', sans-serif;
     color: rgb(65, 109, 186);
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#edit-prof-link:hover {
  cursor: pointer;
}

#prof-form {
  width: 400px;
}

#prof-form input:focus {
     outline-width: 0;
    border: 2px solid rgb(65, 109, 186);
} 

#prof-form textarea:focus {
       outline-width: 0;
    border: 2px solid rgb(65, 109, 186);
}

#prof-form textarea {
      width: 380px;
     border-radius: 3px;
     border: 1px solid rgb(237, 234, 234);
     font-size: 15px;
     font-family: 'Lato', sans-serif; 
     color: rgb(115, 131, 147);
}

#prof-form input {
  border-radius: 3px;
}

#save {
    margin-left: 10px;
  width: 50px;
   color: white;
     background-color: #1171F2;
     height: 50px;
     width: 100px;
     border-radius: 10px;
     margin-top: 20px;
}

#cancel {
     color: rgb(65, 109, 186);
     margin-left: 20px;
     margin-top: 40px;
}

#save:hover {
  cursor: pointer;
}

#cancel:hover {
  cursor: pointer;
}

.options {
  display: flex;
}

#prof-form label {
  margin-top: 10px;
}

#bio p img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#add-listing {
         border: none;
     font-family: 'Lato', sans-serif;
     color: rgb(65, 109, 186);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

#add-listing:hover {
  cursor: pointer;
}

.listings .listing-links {
  font-size: 15px;
  margin: 0px;

}

.listing-links:hover {
  color: rgb(75, 185, 210);
}

// .listings a div {
//   height: 0;
//   color: rgb(75, 185, 210);
// }