.reservation-show {
  margin-top: 100px;
  margin-left: 15%;
}

.reservation-show > h1 {
  font-family: 'Lato', sans-serif;
  color: #484848;
}

.reservation-show > h2 {
  font-family: 'Lato', sans-serif;
  color: #484848;
}

.listing-click {
  height: 1800px;
  width: 150%;
}

// .listing-res {
//   height: 100%;
//   width: 100%;
// }

// .listing-res .listing-item {
//   height: 300px;
//   width: 300px !important;
// }