.trips-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 500px;
  width: 100%px;
}

.trips-index .section-heading {
  font-family: 'Lato', sans-serif;
  margin-left: 55px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(55, 62, 70);
}

.trips-index .listing-item {
  height: 60%;
  width: 20%;
  border: 2px solid white;
  margin-bottom: 2%;
  margin-left: 2%;
}

.trips-index .listing-item:first-of-type {
  margin-left: 20px;
}

.trips-index .index-img {
  width: 100%;
  height: 70%;
  width: 100%;
  background-color: lightblue;
  border-radius: 3px;
  // border: 0.5px solid white;
   overflow: hidden;
}

.trips-index .index-img img {
  height: 110%;
  width: auto;
}

.trips-index .index-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
  width: 100%;
}

.trips-index .index-desc p {
  padding: 2px;
  margin: 0;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
  font-size: 20px;
  color: rgb(55, 62, 70);
  margin-top: -2px;
}

.trips-index .index-desc h6 {
  padding: 2px; 
  font-size: 12px;
   margin: 0;
  color: rgb(55, 62, 70);
   font-weight: 300;
}

.trips-index .index-desc h5 {
  padding: 2px; 
  font-size: 15px;
   margin: 0;
   color: rgb(55, 62, 70);
   font-weight: 300;
}

.trips h1 {
  margin-left: 60px;
  font-size: 30px;
  color: #484848;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
}

.covered-by-search {
    margin-top: 80px;
}

#covered {
  margin-top: 200px;
}

.past-trips {
  margin-top: 10px;
  height: 60%;
  width: 40%;
  display: flex;
}
.past-trips .listing-item {
  margin: 0;
  height: 90%;
  width: 50%;
}

.review-form {
  height: 50%;
  width: 30%;
  margin-top: -10px;
}

.review-form textarea {
  width: 100%;
     border-radius: 3px;
     border: 1px solid rgb(237, 234, 234);
     font-size: 15px;
     font-family: 'Lato', sans-serif; 
     color: rgb(115, 131, 147);
     height: 50px;
} 

.review-form textarea:focus {
    outline-width: 0;
    border: 2px solid rgb(65, 109, 186);
}

#review-button {
    margin-left: 10px;
  width: 50px;
   color: white;
     background-color: #1171F2;
     height: 30px;
     width: 100px;
     border-radius: 10px;
     margin-top: 0;
}